.App {
  text-align: center;
}

.App-header {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 60px;
  border-bottom: solid 1px #ccc;
}

.App-logo {
  display: block;
  float: left;
  height: 60px;
}

.App-title {
  display: block;
  float: right;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
