# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# Dependencies lock files
*-lock.json
*.lock

# Log files
*.log

# misc
.DS_Store
*env
.env*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sqlite files
*.sqlite

# VsCode features
.history/
